<!DOCTYPE html>

{% extends 'layout.html' %}

{% block title %}
    ACTION PLAN
{% endblock %}

{% block main %}
  
    &nbsp;

    <!--- An inspiratioal visualization of S.T.E.A.M. products -->
    <div class="images">
        <img src="/static/3.jpg" class="img-thumbnail" alt="Robot">
        <img src="/static/2.JPG" class="img-thumbnail" alt="Arduino">
        <img src="/static/1.JPG" class="img-thumbnail" alt="Laptop">
    </div>

    <div class="container" style="margin-top:30px">
        <div class="row">
            
            <!-- A documentation -->
            <div class="col-sm-4">
                <h1>ACTION PLAN</h1>
                <h2>Our building blocks!</h2>
                <ul class="nav nav-pills flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="https://docs.arduino.cc/" target="_blank">Arduino: documentation</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="https://www.raspberrypi.org/documentation/" target="_blank">Raspberry Pi: documentation</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="https://sdk.sphero.com/?_ga=2.20063739.216345638.1584250429-523031326.1573157840&_gac=1.249823794.1584555165.EAIaIQobChMIqfbE-c-k6AIVBZ6fCh3oSwN7EAAYASAAEgLqs_D_BwE" target="_blank">Sphero RVR: documentation</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="https://devdocs.io/javascript/" target="_blank">JavaScript</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="https://botland.store/49-create-a-robot" target="_blank">Botland's Creations</a>
                    </li>
                </ul>
                <hr class="d-sm-none">
            </div>
           
            <!-- Suggestions how to function in the world of coding being in need for inspiration -->
            <div class="col-sm-8" style="border-style: outset; padding: 12px; background-color: #fdffcd">
                <h1>YOUR WORKSPACE</h1>
                <h5>What about next steps?</h5>
                <p>Once ready for the great S.T.E.A.M. adventure you may think of:</p>
                <ul>
                    <li>designing your scenarios thanks to <a href="https://teachingcommons.unt.edu/teaching-essentials/course-design/grasps-model-meaningful-assessment" target="_blank"><b>G.R.A.S.P.S.</b></a> framework;</li>
                    <li>applying the right <a href="/criteria"><b>Criteria</b></a> to evaluate the work;</li>
                    <li>choosing your toys based on a sneak peak in <a href="/gallery"><b>Gallery</b></a> and the <em>building blocks</em>;</li>
                    <li>reaching and eventually downloading, and installing proper applications on your devices;</li>
                    <li>implementing <a href="https://scratch.mit.edu/" target="_blank"><b>Scratch</b></a> free coding community made by <a href="https://scratch.mit.edu/credits" target="_blank"><b>MIT</b></a> to differentiate learning;</li> 
                    <li>looking for inspiration to teach coding, see:</li> 
                    <ul>
                    <li><a href="https://www.nintendo.com/games/detail/game-builder-garage-switch/" target="blank"><b>Game Builder Garage (Nintendo)</b></a><br>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/SXG4KdstVw4" title="YouTube video player"
                        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                    </li>
                    <br>
                    <li><a href="https://www.nintendo.com/games/detail/super-mario-maker-2-switch/" target="blank"><b>Super Mario Maker 2 (Nintendo)</b></a><br>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/CYx9v7Mo94M" title="YouTube video player"
                        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                    </li>
                    <br>
                    <li><a href="https://www.lego.com/en-pl/themes/boost/about" target="blank"><b>LEGO Boost</b></a><br>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/pxukTU_xHEE" title="YouTube video player"
                        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                    </li>
                    </ul>
                </ul>        
            </div>
            &nbsp;
        </div>
    </div>
{% endblock %}