<!DOCTYPE html>

{% extends "layout.html" %}

{% block title %}
    SAMPLES
{% endblock %}

{% block main %}

    <div class="container" style="margin-top:30px">
            <div class="row">
                
                <!-- Documentation -->
                <div class="col-sm-4">
                    <h1>INSPIRATION</h1>
                    <p><b>Let's see what we've got!</b></p>
                    <ul class="nav nav-pills flex-column">
                        <li class="nav-item">
                            <a class="nav-link" href="https://create.arduino.cc/projecthub/projects/tags/social" target="blank">Arduino: 5 social projects</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="https://www.raspberrypi.org/teach/" target="blank">Raspberry Pi: teachers and educators</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="https://sphero.com/pages/educator-resources" target="blank">Sphero RVR: Educator Resources</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="https://pai.technology/pages/educators" target="blank">Botzees: Educators</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="https://www.lego.com/en-us/categories/robots-for-kids" target="blank">LEGO: Robots for Kids</a>
                        </li>
                    </ul>
                    <hr class="d-sm-none">
                </div>
            
            <!--- G.R.A.S.P.S. Framework - Samples -->
            <div class="col-sm-8">  

                <h1>SAMPLES</h1>
                <h2>Based on <a href="https://www.un.org/sustainabledevelopment/sustainable-development-goals/" target="_blank"> the
                        United Nations' Sustainable Goals</a></h2>

                <!-- Bootstrap's accordion -->
                <div class="accordion" id="accordionPanelsStayOpenExample">
            
                    <!-- Example 1 -->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                                aria-controls="panelsStayOpen-collapseOne">
                                G.R.A.S.P.S. Framework #1-<em>Ensure equitable and quality
                                        education</em>
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show"
                            aria-labelledby="panelsStayOpen-headingOne">
                            <div class="accordion-body">
                                <h3><em><a href="https://www.un.org/sustainabledevelopment/education/" target="_blank">Ensure equitable and quality
                                    education</a></em></h3>
                                <p><b>Goal: </b>Your goal is to work collaboratively on advancing Nerbo & Ditro project. It couples humanities with
                                    science, delivering as a foundation International Baccalaureate environment - Individuals and Societies.</p>
                                <p><b>Role: </b>You are an educator who admires hurdles and confronting yourself to ensure equitable and quality
                                    education for your local and global environment. <b>(for educators mainly)</b></p>
                                <p><b>Audience: </b>Your audience consists of your students, their parents, and management. It may get bigger and
                                    bigger.</p>
                                <p><b>Situation: </b>You want to introduce the idea of STEAM education in the Individuals and Societies subject group.
                                    You may use the platform, thanks to which one will build scenarios for the students.</p>
                                <p><b>Product: </b>Your final product comprises a scenario applying the G.R.A.S.P.S. framework, robots for your
                                    students, prepared documentation, and a detailed lesson plan.</p>
                                <p><b>Standards: </b>Please, remember to read the Arduino, Raspberry Pi, Sphero R.V.R., and/or JavaScript documentation.
                                    You may consider adopting <a
                                        href="https://support.sphero.com/article/t8nmvxs79o-what-is-the-difference-between-bolt-mini-sprk"
                                        target="_blank">the right Robot Type</a> from Sphero R.V.R., Sphero Bolt, Sphero SPRK+, Sphero 2.0, up to Sphero
                                    Mini or Sphero Indi, and even Botzees or Botland's designs. There will be pressure to differentiate enterprises for
                                    students. You may think of implementing the following strategies: draw programming, block programming, and/or text
                                    programming adopted from <a href="https://support.sphero.com/article/cptfh361pk-programming-with-sphero-edu"
                                        target="_blank">Sphero Edu</a>.</p>
                            </div>
                        </div>
                    </div>

                    <!--- Example 2 -->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
                                aria-controls="panelsStayOpen-collapseTwo">
                                G.R.A.S.P.S. Framework #2-<em>Life on land</em>
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse"
                            aria-labelledby="panelsStayOpen-headingTwo">
                            <div class="accordion-body">
                                <h3><em><a href="https://www.un.org/sustainabledevelopment/biodiversity/" target="_blank">Life on land</a></em></h3>
                                <p><b>Goal: </b>Your goal is to formulate and use functions (if possible) to exhibit the problem of <a
                                        href="https://www.nationalgeographic.com/environment/article/desertification"
                                        target="_blank">desertification</a>, <a
                                        href="https://www.who.int/news-room/q-a-detail/climate-change-land-degradation-and-desertification"
                                        target="_blank">land degradation</a>, and <a href="https://www.britannica.com/science/biodiversity-loss"
                                        target="_blank">biodiversity loss</a> by combing the global history with STEAM. </p>
                                <p><b>Role: </b>You are an expert in <a href="https://artsandculture.google.com/project/natural-history"
                                        target="_blank">natural history</a>, facing a dilemma to make the subject matter recognizable by a worldwide
                                    community. <b>(for all students)</b></p>
                                <p><b>Audience: </b>Your audience consists of everybody interested in life on land and issues associated with it.</p>
                                <p><b>Situation: </b>You have been reflecting on multiple ways how people have been sustainably affected forests,
                                    battled <a href="https://www.nationalgeographic.com/environment/article/desertification"
                                        target="_blank">desertification</a>, paused and shifted land degradation, and stopped <a
                                        href="https://www.nationalgeographic.com/environment/article/ipbes-un-biodiversity-report-warns-one-million-species-at-risk"
                                        target="_blank">biodiversity loss</a> throughout history.</p>
                                <p><b>Product: </b>You want to create an animated timeline for historical events.</p>
                                <p><b>Standards: </b>Please, remember to read the Arduino, Raspberry Pi, Sphero R.V.R., and/or JavaScript documentation.
                                    You may consider adopting <a
                                        href="https://support.sphero.com/article/t8nmvxs79o-what-is-the-difference-between-bolt-mini-sprk"
                                        target="_blank">the right Robot Type</a> from Sphero R.V.R., Sphero Bolt, Sphero SPRK+, Sphero 2.0, up to Sphero
                                    Mini or Sphero Indi, and even Botzees or Botland's designs. You may think of operating on the following strategies:
                                    draw programming, block programming, and/or text programming adopted from <a
                                        href="https://support.sphero.com/article/cptfh361pk-programming-with-sphero-edu" target="_blank">Sphero Edu</a>.
                                </p>
                                <p><b>Inspiration: </b><a href="https://edu.sphero.com/cwists/preview/34041x" target="_blank">Sphero Edu Scenario:
                                        Storytelling 5: <em>Titanic Functions</em></a></p>
                            </div>
                        </div>
                    </div>

                    <!-- Example 3 -->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false"
                                aria-controls="panelsStayOpen-collapseThree">
                                G.R.A.S.P.S. Framework #3-<em>Responsible
                                        Consumption and Production Patterns</em>
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse"
                            aria-labelledby="panelsStayOpen-headingThree">
                            <div class="accordion-body">
                                <h3><em><a href="https://www.un.org/sustainabledevelopment/sustainable-consumption-production/" target="_blank">Responsible
                                        Consumption and Production Patterns</a></em></h3>
                                <p><b>Goal: </b>Your goal is to partake in a competition that challenges participators to create a STEAM solution on
                                    responsible consumption and production patterns sensu largo.</p>
                                <p><b>Role: </b>You are a pragmatically oriented I.B. student who positively affects the social and natural environment.
                                    This time around, inspiration comes from the idea to combine humanities - Individuals & Societies - with science,
                                    thanks to STEAM.</p>
                                <p><b>Audience: </b>Your audience is the local neighborhood. <b>(for MYP Years 4&5, and DP students)</b></p>
                                <p><b>Situation: </b>The situation might be a bit complex respecting the times of pandemia, water supplies, energy
                                    <em>sensu largo</em>, and food, and consumption in general.</p>
                                <p><b>Product: </b>Your product of work depends on you.</p>
                                <p><b>Standards: </b>Please, remember to read the Arduino, Raspberry Pi, Sphero R.V.R., and/or JavaScript documentation.
                                    You may consider adopting <a
                                        href="https://support.sphero.com/article/t8nmvxs79o-what-is-the-difference-between-bolt-mini-sprk"
                                        target="_blank">the right Robot Type</a> from Sphero R.V.R., Sphero Bolt, Sphero SPRK+, Sphero 2.0, up to Sphero
                                    Mini or Sphero Indi, and even Botzees or Botland's designs. You may think of operating on the following strategies:
                                    draw programming, block programming, and/or text programming adopted from <a
                                        href="https://support.sphero.com/article/cptfh361pk-programming-with-sphero-edu" target="_blank">Sphero Edu</a>.
                                </p>
                            </div>
                        </div>
                    </div>

                    <!-- Example 4 -->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="panelsStayOpen-headingFour">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false"
                                aria-controls="panelsStayOpen-collapseFour">
                                G.R.A.S.P.S. Framework #4-<em>Implement and revitalize the
                                        Global Partnership for Sustainable Development</em>
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse"
                            aria-labelledby="panelsStayOpen-headingFour">
                            <div class="accordion-body">
                                <h3><em><a href="https://www.un.org/sustainabledevelopment/globalpartnerships/" target="_blank">Implement and revitalize the
                                        Global Partnership for Sustainable Development</a></em></h3>
                                <p><b>Goal: </b>Your main objective is to build your first responsive robot by applying loops and conditions (if
                                    possible).</p>
                                <p><b>Role: </b>You are an enthusiastic and productive student. You would like to become an entrepreneur in the most
                                    flourishing prospect these days, namely SpaceX. <b>(for all students)</b></p>
                                <p><b>Audience: </b>Your audience will consist of a group of people working with you at first. Then the idea is to make
                                    it a little bit more diverse and international. </p>
                                <p><b>Situation: </b>To make your dream come true, please explore an opening to constitute a global partnership with
                                    students in other I.B. schools while arranging your final product. Remember that we are living in the age of
                                    technology and globalization. Please, use it wisely!</p>
                                <p><b>Product: </b>A warm-up session for you is to design a moveable vehicle that will report findings with humans by
                                    using colors: green means "I've got it!"; yellow - "I'm looking for it!" and red - "Ups, this isn't what I'm looking
                                    for!".</p>
                                <p><b>Standards: </b>Please, remember to read the Arduino, Raspberry Pi, Sphero R.V.R., and/or JavaScript documentation.
                                    You may consider adopting <a
                                        href="https://support.sphero.com/article/t8nmvxs79o-what-is-the-difference-between-bolt-mini-sprk"
                                        target="_blank">the right Robot Type</a> from Sphero R.V.R., Sphero Bolt, Sphero SPRK+, Sphero 2.0, up to Sphero
                                    Mini or Sphero Indi, and even Botzees or Botland's designs. You may think of operating on the following strategies:
                                    draw programming, block programming, and/or text programming adopted from <a
                                        href="https://support.sphero.com/article/cptfh361pk-programming-with-sphero-edu" target="_blank">Sphero Edu</a>.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    &nbsp;
{% endblock %}